{% extends "base.twig" %}

{% block content %}
<div id="post-{{post.ID}}">
  <section>
    <div>
      <div>
        <div>404 Error</div>
        <h1>Oops!</h1>
        <p>Sorry about that... we can't seem to find the page you're looking for.</p>
        <a href="/">
          <span>Return Home</span>
        </a>
      </div>
    </div>
  </section>
</div>
{% endblock %}
